*{
    margin: 0;
    padding: 0;
}


.banner{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/banner\ \(2\).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}